* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F9FA;
    font-family: 'Roboto', sans-serif;
}

.catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.catalog__product {
    flex: 1 290px;
    height: 265px;
    background-color: #ffff;
    border: 1px solid #e4e5ec;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 0 0;
    position: relative;

}

.catalog__product:hover {
    box-shadow: 0 0 0 1px #61d5df;
}

.catalog__head {
    display: none;
    position: relative;
}

.catalog__product:hover .catalog__head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    position: absolute;
}

.catalog__inventorybtn {
    padding: 4px 8px;
    border-radius: 3px;
    background-color: #61d5df;
    cursor: pointer;
    outline: none;
    border: none;
    text-transform: capitalize;
    font-size: 14px;
    color: #fff;
}

.catalog__img {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.catalog__img img {
    max-width: 100%;
    max-height: 100%;
}

.catalog__title {
    font-size: 14px;
    color: #29304b;
    padding: 0 14px;
}

.catalog__prices {
    padding: 10px 14px;
    border-top: 1px solid #e4e5ec;
    font-size: 14px;
    color: #47506e;
}

/*  */
.catalog__checkbox-container {
    position: relative;
    padding-left: 18px;
    cursor: pointer;
}

.catalog__checkbox-container input {
    position: absolute;
    cursor: pointer;
    height: 0;
    width: 0;
}

.catalog__checkbox-container input:checked~.catalog__checkmark {
    background-color: #00AEDC;
    border: 2px solid #00AEDC;
}

.catalog__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #bdbdbd;
}

.catalog__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.catalog__checkbox-container input:checked~.catalog__checkmark:after {
    display: block;
}

.catalog__checkbox-container .catalog__checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: 1px solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*  */


.wrapper {
    height: 100%;
    width: 100%;
}

.side-bar {
    background-color: #ECEDF5;
    height: 100%;
    width: 270px;
    position: fixed;
}

.side-bar::-webkit-scrollbar {
    display: none;
}

.content {
    height: 100%;
    padding-left: 270px;
}

/* header */
.header {
    background-color: #F8F9FA;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.header__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__button {
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #61D5DF;
    padding: 10px 15px;
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    cursor: pointer;
}

.header__button--big {
    padding: 15px;
}

.header__selection {
    padding-left: 15px;
    border-left: 1px solid #979797;
    font-size: 11px;
    font-weight: 500;
}

.header__input {
    width: 300px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: #fff;
    outline: none;
    border: 1px solid #cacaca;
    border-right: none;
}

.header__searchbtn {
    font-size: 17px;
    background-color: #fff;
    border: none;
    color: #a8a4a4;
    cursor: pointer;
    border: 1px solid #cacaca;
    border-radius: 0 5px 5px 0;
    border-left: none;
    padding: 8px 15px;
    margin-right: 14px;
}

.header__mark {
    font-size: 24px;
}

/* sort */
.sort-section {
    padding: 15px 20px;
    border-bottom: 1px solid #dbe0f3;
    background-color: #fff;
}

#sort {
    background-color: #FFF;
    background-color: transparent;
    border: none;
    outline: none;
    color: #a8a4a4;
}

@media only screen and (max-width: 1200px) {
    .header__input {
        width: 100px;
    }
}

@media only screen and (max-width: 970px) {
    .side-bar {
        display: none;
    }

    .header__input {
        width: 300px;
    }

    .content {
        padding-left: 0;
    }

    .header__button {
        font-size: 7px;
        padding: 10px 25px;
    }
}

@media only screen and (max-width: 768px) {
    .header__selection {
        display: none;
    }

    .sort-section {
        text-align: center;
    }
}

@media only screen and (max-width: 576px) {
    .header__input {
        display: none;
    }

    .header__searchbtn {
        border-radius: 3px;
        border-left: 1px solid #cacaca;
        padding: 5px 10px;
        background-color: transparent;
    }
}